<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/NavigationBar.css}"/>
</head>
<body>

<div th:fragment="navBar" class="topnav">
  	<a class="active" href="/">Home</a>
	<a th:href="@{/lesson01}">Lesson 1</a>
	<a th:href="@{/lesson02}">Lesson 2</a>
	<a th:href="@{/lesson03}">Lesson 3</a>
	<a th:href="@{/lesson04}">Lesson 4</a>
	<a th:href="@{/lesson05}">Lesson 5</a>
</div>


</body>
</html>