@charset "ISO-8859-1";

h3{
	color: orange;
	background-color: slategray;
	font-size: 20px;
	text-decoration: underline;
	font-family: arial;
	text-align: center;
}

p{
	color: slategray;
	text-align: right;
	line-height: 30px;
	letter-spacing: 2px;
	column-count: 2;
	column-gap: 60px;	
}

ul{
	border-width: 5px;
	border-color: crimson;
	border-style: solid;
	border-bottom: 4px dashed blue;
	border-top: 3px dotted green;
}

li{
	list-style-type: square;
	text-shadow: 2px 2px lightgray;
	font-size: 20px;
}

